

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');


:root {
    --main-color: #8e44ad;
    --red: #e74c3c;
    --orange: #f39c12;
    --light-color: #888;
    --light-bg: #eee;
    --black: #2c3e50;
    --white: #fff;
    --border: .1rem solid rgba(0, 0, 0, .2);
 }
 * {
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
 }
 
 *::selection {
    background-color: var(--main-color);
    color: #fff;
 }

 html {
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;
 }
 
 body {
    background-color: var(--light-bg);
    padding: 0;
 }



 

/* Öğretmen giriş sayfası */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    background-color: var(--light-bg);
 }
 
 .login .form-container {
    background-color: var(--white);
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 50rem;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .login .form-container .logo {
    width: 380px; /* Logonun genişliği */
    height: auto; /* Yüksekliği orantılı ayarlamak için auto */
    margin-bottom: 0.5rem; /* Başlık ile logo arasındaki boşluk */
    display: block; /* Logonun satırda tek başına durması için */
 }
 
 .login .form-container h3 {
    font-size: 2.5rem;
    color: var(--black);
   
    margin-bottom: 1rem;
 }
 
 
 .login .form-container p {
    font-size: 1.6rem;
    color: var(--light-color);
    margin-bottom: 2rem;
 }
 
 .login .input-group {
    margin-bottom: 1.5rem;
    text-align: left;
 }
 
 .login .input-group label {
    font-size: 1.4rem;
    color: var(--light-color);
    display: block;
    margin-bottom: .5rem;
 }
 
 .login .input-group input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    background-color: var(--light-bg);
    border: var(--border);
    border-radius: .5rem;
 }
 
 .login .btn {
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
 }
 
 .login .btn:hover {
    background-color: var(--black);
 }
 
 .login .form-container a {
    color: var(--main-color);
    text-decoration: none;
 }
 
 .login .form-container a:hover {
    text-decoration: underline;
 }
 