

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Dashboard - Write Wise</title>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
   <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

{% include 'includes/navbar.html' %}
{% include 'includes/sidebar.html' %}

<div class="button-container">
   <div class="button-with-logo">
      <img src="static/images/dashboardLogo.png" alt="Logo" class="button-logo logo-sinav-yukle">
      <button class="equal-btn" onclick="window.location.href='{{ url_for('api.upload') }}'">Sınav Yükle</button>
   </div>
   <div class="button-with-logo">
      <img src="static/images/dashboardLogo2.png" alt="Logo" class="button-logo logo-sinav-analizlerim">
      <button class="equal-btn btn-sinav-analizlerim" onclick="window.location.href='{{ url_for('api.recent') }}'">Sınav Analizlerim</button>
   </div>
</div>


</div>





</body>
</html>
