<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öğretmen Girişi - Write Wise</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body class="login">

    <div class="form-container">
        <img src="static/images/logo.png" alt="Write Wise Logo" class="logo">

        <form action="{{ url_for('api.login') }}" method="post">
            <h3>Öğretmen Girişi</h3>
            <p>Giriş yapmak için bilgilerinizi giriniz.</p>
            <div class="input-group">
                <label for="username">Kullanıcı Adı</label>
                <input type="text" id="username" name="username" required placeholder="Kullanıcı Adı">
            </div>
            <div class="input-group">
                <label for="password">Şifre</label>
                <input type="password" id="password" name="password" required placeholder="Şifre">
            </div>
            <button type="submit" class="btn">Giriş</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
        {% endwith %}
    </div>

</body>
</html>

