<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öğretmen Girişi - Write Wise</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="static/css/login.css">
    <style>
        .alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
            margin-top:20px;
}

/* Kategoriye göre renkler */
.alert-success {
    background-color: #4CAF50; /* Yeşil */
}

.alert-info {
    background-color: #2196F3; /* Mavi */
}

.alert-warning {
    background-color: #FFC107; /* Sarı */
    color: black;
}

.alert-danger {
    background-color: #F44336; /* Kırmızı */
}
    </style>
</head>
<body class="login">

    <div class="form-container">
        <img src="static/images/logo.png" alt="Write Wise Logo" class="logo">

        <form action="{{ url_for('auth_bp.login') }}" method="post">
            <h3>Öğretmen Girişi</h3>
            <p>Giriş yapmak için bilgilerinizi giriniz.</p>
            <div class="input-group">
                <label for="username">Kullanıcı Adı</label>
                <input type="text" id="username" name="username" required placeholder="Kullanıcı Adı">
            </div>
            <div class="input-group">
                <label for="password">Şifre</label>
                <input type="password" id="password" name="password" required placeholder="Şifre">
            </div>
            <button type="submit" class="btn">Giriş</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% set last_message = messages[-1] %}
            <div class="alert alert-{{ last_message[0] }}">{{ last_message[1] }}</div>
        {% endif %}
    {% endwith %}
    </div>

</body>
</html>

